/* See lines 98-99 for the background image. */
* {
	/* 
	Font. Change to a font's name (in quotes if it contains a space) to use this font instead.
	Want to use the default Voxiom font?
	Change the line to this:
	  font-family: lato,Helvetica,sans-serif;
	Examples:
	  font-family: 'Comic Sans MS';
	
	  font-family: Helvetica;
	*/
	font-family: 'Menlo', monospace;
}

[href="/friends"]>:nth-child(1), [href="/clans"]>:nth-child(1) {
	/* Clans and Friends icons */
	display: none;
}

.sc-bBHxTw.cSKUzy, .sc-fKVqWL.iiRiSL {
	/* ToS, partners */
	display: none;
}

.sc-efQSVx.bzuEEU:nth-child(3) {
	/* Ad zone at the right */
	display: none;
}

[href="https://discord.gg/GBFtRcY"] {
	/* No need to join it twice */
	display: none !important;
}


.sc-jefHZX.bUZNOl {
	/* Plus sign to buy gems, I don't have money for that lol */
	display: none;
}

.lfRlMR {
	/* Removes extra space at the right of gem count */
	margin: 0 !important;
}

.sc-gFSQbh.gmymZp>div>div {
	/* Square around skins in inventory and market */
	border-width: 3px !important;
}
 
.hDBLYG:has(>[style="color: rgb(230, 126, 34);"]) {
	/* Extraordinaries */
	background: radial-gradient(circle, rgb(118 83 62) 0%, rgba(60, 60, 60, 0.2) 100%) !important;
}

.hDBLYG:has(>[style="color: rgb(255, 84, 224);"]) {
	/* Magnificents */
	background: radial-gradient(circle, rgb(126 100 127) 0%, rgba(60, 60, 60, 0.2) 100%) !important;
}

.hDBLYG:has(>[style="color: rgb(255, 224, 99);"]) {
	/* Artifacts */
	background: radial-gradient(circle, rgb(137 141 18 / 60%) 0%, rgba(60, 60, 60, 0.6) 100%);
}

.hDBLYG:has(>[style="color: rgb(255, 66, 101);"]) {
	/* Coverts */
	background: radial-gradient(circle, rgb(114 14 14 / 60%) 0%, rgba(60, 60, 60, 0.6) 100%);
}

.hDBLYG:has(>[style="color: rgb(180, 99, 255);"]) {
	/* Precious */
	background: radial-gradient(circle, rgb(95 61 98 / 60%) 0%, rgba(60, 60, 60, 0.6) 100%);
}

.hDBLYG:has(>[style="color: rgb(128, 156, 255);"]) {
	/* Noteworthies */
	background: radial-gradient(circle, rgb(61 74 98 / 60%) 0%, rgba(60, 60, 60, 0.6) 100%);
}


.sc-cdFzKX.iXWCkR > *, .sc-cdFzKX.iXWCkR > * > :nth-child(1) {
    max-height: 500px !important;
}

@keyframes colorrotate {
	from {
		filter: hue-rotate(0deg);
	}
	
	to {
		filter: hue-rotate(360deg);
	}
}

.bNczYf {
	/* Default background; change it to something else if you want */
	background-image: url('https://i.imgur.com/fTnN9mR.jpg') !important;
}

.sc-heyBJZ.lnowGN, .sc-Dtwra.eoolpn, .sc-hatQeL.dXfkYO {
	display: none;
}

.sc-fvOMhg.bVGaKL[color="#2ecc71"] {
	background-color: rgba(46, 204, 113, 0.4) !important;
}

.sc-fvOMhg.bVGaKL[color="#ffb900"] {
	background-color: rgba(255, 185, 0, 0.4) !important;
}

.sc-fvOMhg.bVGaKL[color="#ffffff"] {
	background-color: transparent !important;
}

.dxWFIk, img.sc-PWMHG.lfSpkR:not(.sc-ccdLe.dyFVjE>img), .NknFt {
	background-color: transparent !important;
}

div.dxWFIk {
	background-image: linear-gradient(270deg, rgba(18,56,82,0.65), transparent);
	transition: background-image 1s;
}

div.dxWFIk:has(>img[style="background-color: rgb(46, 204, 113);"]) { /* Uncommon */
	background-image: linear-gradient(270deg, rgba(46,204,113,0.65), transparent);
}

.hIaLVk.dxWFIk:has(>img[style="background-color: rgb(46, 204, 113);"]) {
	background-image: linear-gradient(315deg, rgb(46,204,113), transparent);
}

div.dxWFIk:has(>img[style="background-color: rgb(155, 89, 182);"]) { /* Epic */
	background-image: linear-gradient(270deg, rgba(155, 89, 182,0.65), transparent);
}

.hIaLVk.dxWFIk:has(>img[style="background-color: rgb(155, 89, 182);"]) {
	background-image: linear-gradient(315deg, rgb(155, 89, 182), transparent);
}

div.dxWFIk:has(>img[style="background-color: rgb(52, 152, 219);"]) { /* Rare */
	background-image: linear-gradient(270deg, rgba(52, 152, 219, 0.65), transparent);
}

.hIaLVk.dxWFIk:has(>img[style="background-color: rgb(52, 152, 219);"]) {
	background-image: linear-gradient(315deg, rgb(52, 152, 219), transparent);
}

div.dxWFIk:has(>img[style="background-color: rgb(241, 196, 15);"]) { /* Legendary (Gold) */
	background-image: linear-gradient(270deg, rgba(241, 196, 15,0.65), transparent);
}

.hIaLVk.dxWFIk:has(>img[style="background-color: rgb(241, 196, 15);"]) {
	background-image: linear-gradient(315deg, rgb(241, 196, 15), transparent);
}

div.dxWFIk:has(>img[style="background-color: rgb(211, 84, 0);"]) { /* Mythics */
	background-image: linear-gradient(270deg, rgba(211, 84, 0,0.65), transparent);
}

.hIaLVk.dxWFIk:has(>img[style="background-color: rgb(211, 84, 0);"]) {
	background-image: linear-gradient(315deg, rgb(211, 84, 0), transparent);
}

div.dxWFIk:not(.hIaLVk) {
/*	background-image: linear-gradient(270deg, rgba(18,56,82,0.65), transparent);*/
/*	transition: background-image 1s;*/
	border: none;
}

.hIaLVk.dxWFIk {
	transform: rotate(45deg) !important;
	border-left: none !important;
	border-top: none !important;
	background-image: linear-gradient(315deg, #089d9d, transparent);
}

.HItYI {
	flex-direction: column;
}

.sc-gdWVyK.sxEef {
	padding: 9px;
}

span.sc-gCEpsI.sc-hzbjYJ.iQATOm.gZLiLw {
	display: none;
}

.sc-eQtFQz.bqhAKF {
	position: fixed;
	right: 20px;
	bottom: 8px;
}
